@model Culinaria.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prep" class="control-label"></label>
                <input asp-for="Prep" class="form-control" />
                <span asp-validation-for="Prep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group" id="ingredients">
                <h4>Ingredients</h4>
                <a id="btnAddField" class="btn btn-primary add-ingredients">Add Field</a>
                <div id="ingredient0">
                    <label class="control-label">Name:</label>
                    <input type="text" name="ingredients" class="form-control" />
                    <a class="btn btn-primary remove-ingredient" data-target="ingredient0">delete</a>
                </div>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var ingCounter = 1;

    $(document).on('click', '.add-ingredients', function (e) {
        e.preventDefault();
        //"<input type=\"text\" name=\"ingridients\" class=\"form-control\" >\n"
        $('#ingredients').append(
            '<div id="ingredient' + ingCounter + '">' +
            '<label class="control-label">Name:</label>' +
            '<input type="text" name="ingredients" class="form-control" />' +
            '<a class="btn btn-primary remove-ingredient" data-target="ingredient' + ingCounter + '">delete</a>' +
            '</div>'
        );
        ingCounter++;
    });

    $(document).on('click', '.remove-ingredient', function (e) {
        e.preventDefault();
        $("#" + $(this).data("target")).remove();
    });


    $("#form").submit(function (e) {
        e.preventDefault();
        const data = new FormData(e.target);

        const formJson = Object.fromEntries(data.entries());

        var test = [];
        data.getAll('ingredients').forEach(value => {
            console.log(value);
            var ingData = {};
            ingData["name"] = value;
            test.push(ingData);
        })


        formJson.ingredients = test;


        console.log(formJson);
        const uri = 'https://localhost:44328/api/recipes';


        fetch('https://localhost:44328/api/recipes', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJson)
        })
            .catch(error => console.error('Unable to add item.', error));
    })
</script>

}


